<h2>Listing pull requests</h2>

<%= for pull_hash <- @pulls do %>
  <h2><%= pull_hash[:name] %></h2>

  <%= if length(pull_hash[:pulls]) > 0 do %>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= for pull <- pull_hash[:pulls] do %>
          <tr>
            <td><%= pull["title"] %></td>
            <td><a href=<%= pull["html_url"] %>><%= pull["html_url"] %></a></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= else %>
    <div>No pull requests for this repo at the moment</div>
  <% end %>

<% end %>
