<h2>My Lockers</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for locker <- @lockers do %>
    <tr>
      <td><%= link locker.name, to: locker_path(@conn, :show, locker) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New locker", to: locker_path(@conn, :new) %>
