<p>Please Sign in!</p>

<p>
  <%= form_for @changeset, session_path(@conn, :create), fn f -> %>
    <%= label f, :email, "email" %>
    <%= text_input f, :email %>

    <%= label f, :password, "password" %>
    <%= text_input f, :password %>

    <%= submit "Submit" %>
  <% end %>
</p>

<p>
  <%= link "Sign up", to: user_path(@conn, :new) %>
</p>
